---
---

@import 'highlighting';

.body {
  padding: 20px;
}

.improve {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0 15px 0;

  .help-text {
    font-style: italic;
    margin-top: .5em;
    font-size: 1.1em;
  }
}
